## Model fitting

In [26]:
# Importing necessary packages
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
import pandas as pd
import joblib


### Data preprocessing

In [31]:

# Load datasets
sales_data = pd.read_csv('sales.csv')
item_description = pd.read_csv('product.csv')
coffee_prices = pd.read_csv('coffee_price.csv')
tea_prices = pd.read_csv('tea_price.csv')

# Preprocessing steps (filtering, merging, encoding) will go here

# Further steps including feature engineering, model training, and evaluation
# will follow after the preprocessing is completed
sales_data

,transaction_id,transaction_date,transaction_time,sales_outlet_id,staff_id,customer_id,instore_yn,order,line_item_id,product_id,quantity,line_item_amount,unit_price,promo_item_yn
0,7,2019-04-01,12:04:43,3,12,558,N,1,1,52,1,2.50,2.50,N
1,11,2019-04-01,15:54:39,3,17,781,N,1,1,27,2,7.00,3.50,N
2,19,2019-04-01,14:34:59,3,17,788,Y,1,1,46,2,5.00,2.50,N
3,32,2019-04-01,16:06:04,3,12,683,N,1,1,23,2,5.00,2.50,N
4,33,2019-04-01,19:18:37,3,17,99,Y,1,1,34,1,2.45,2.45,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49889,753,2019-04-29,16:51:58,8,42,0,N,1,1,30,1,3.00,3.00,N
49890,756,2019-04-29,16:51:14,8,42,8412,Y,1,1,25,2,4.40,2.20,N
49891,759,2019-04-29,11:17:36,8,15,0,Y,1,1,31,1,2.20,2.20,N
49892,763,2019-04-29,15:45:52,8,45,8030,N,1,1,44,2,5.00,2.50,N
49893,763,2019-04-29,15:45:52,8,45,8030,N,1,5,75,1,3.50,3.50,N

In [32]:

coffee_prices

           DATE  PCOFFOTMUSDM
0    1990-01-01     75.829987
1    1990-02-01     84.010010
2    1990-03-01     93.959991
3    1990-04-01     93.730011
4    1990-05-01     92.019989
..          ...           ...
401  2023-06-01    207.385000
402  2023-07-01    193.494286
403  2023-08-01    186.346957
404  2023-09-01    183.589048
405  2023-10-01    183.951364

[406 rows x 2 columns]

In [30]:

tea_prices

           DATE    PTEAUSDM
0    1990-01-01  252.929993
1    1990-02-01  211.289993
2    1990-03-01  192.600006
3    1990-04-01  194.809998
4    1990-05-01  187.020004
..          ...         ...
401  2023-06-01  264.999257
402  2023-07-01  273.241209
403  2023-08-01  307.449354
404  2023-09-01  326.762683
405  2023-10-01  324.113203

[406 rows x 2 columns]

In [20]:
# Sum the line_item_amount for each product for each day
grouped_sales = sales_data.groupby(['transaction_date', 'product_id'])['line_item_amount'].sum().reset_index()

# Pivot the table to have product_ids as columns
pivot_sales = grouped_sales.pivot_table(index='transaction_date', columns='product_id', values='line_item_amount', fill_value=0)

# Reset index to make it a flat DataFrame
pivot_sales.reset_index(inplace=True)

# Rename columns for readability
pivot_sales.columns = ['trans_date'] + ['productid_' + str(i) for i in pivot_sales.columns[1:]]

# Add a total amount column
pivot_sales['total_amount_of_the_day'] = pivot_sales.iloc[:, 1:].sum(axis=1)

# Display the result
pivot_sales

,trans_date,productid_1,productid_2,productid_3,productid_4,productid_5,productid_6,productid_7,productid_8,productid_9,...,productid_76,productid_77,productid_78,productid_79,productid_81,productid_82,productid_83,productid_84,productid_87,total_amount_of_the_day
0,2019-04-01,0,0,0.00,0.00,0,0,0.00,0,0.0,...,73.5,69,99.00,63.75,0,0,0,0.0,78.0,7462.00
1,2019-04-02,0,0,0.00,0.00,0,0,0.00,0,0.0,...,59.5,66,81.00,105.00,0,0,0,0.0,126.0,7269.10
2,2019-04-03,0,0,0.00,0.00,0,0,0.00,0,0.0,...,59.5,54,85.50,105.00,0,0,0,0.0,102.0,7461.25
3,2019-04-04,0,0,0.00,0.00,0,0,0.00,0,0.0,...,77.0,42,63.00,67.50,0,0,0,0.0,117.0,7086.45
4,2019-04-05,0,0,0.00,0.00,0,0,0.00,0,0.0,...,77.0,63,72.00,75.00,0,0,0,0.0,96.0,7236.25
5,2019-04-06,0,0,0.00,0.00,0,0,0.00,0,0.0,...,35.0,63,76.50,63.75,0,0,0,0.0,93.0,6513.75
6,2019-04-07,18,36,0.00,61.35,0,42,19.75,45,284.0,...,84.0,57,103.50,75.00,0,0,0,19.2,0.0,7693.73
7,2019-04-08,198,36,73.75,20.45,75,105,79.00,135,45.0,...,122.5,66,189.00,116.25,28,12,70,11.2,30.0,8837.54
8,2019-04-09,90,54,44.25,61.35,45,63,39.50,90,45.0,...,81.4,48,122.65,84.39,84,144,140,0.0,42.0,8355.48
9,2019-04-10,90,72,29.50,20.45,45,21,79.00,180,67.5,...,91.0,66,117.00,78.75,56,72,42,39.2,66.0,8210.48
10,2019-04-11,72,54,0.00,61.35,0,63,19.75,180,22.5,...,49.0,57,108.00,56.25,112,60,98,44.0,15.0,7783.74
11,2019-04-12,18,54,59.00,40.90,15,147,98.75,225,22.5,...,80.5,54,67.50,112.50,28,12,28,53.6,57.0,7690.53
12,2019-04-13,108,18,59.00,61.35,45,63,39.50,90,45.0,...,91.0,78,139.50,116.25,56,0,28,52.8,90.0,8700.76
13,2019-04-14,54,90,59.00,40.90,60,105,39.50,135,157.5,...,101.5,78,108.00,142.50,275,119,116,51.2,66.0,8210.86
14,2019-04-15,72,18,44.25,102.25,15,105,19.75,180,112.5,...,91.0,63,58.50,78.75,168,48,98,40.0,112.2,8660.64
15,2019-04-16,72,72,59.00,20.45,90,63,19.75,180,22.5,...,42.0,54,117.00,108.75,56,48,140,34.4,118.2,8588.29
16,2019-04-17,54,108,29.50,40.90,15,42,39.50,1620,135.0,...,94.5,69,130.50,75.00,224,84,126,38.4,105.9,9829.30
17,2019-04-18,36,126,29.50,81.80,90,84,79.00,135,45.0,...,80.5,90,117.00,52.50,140,108,112,62.4,118.2,8687.03
18,2019-04-19,72,36,59.00,102.25,30,168,19.75,270,67.5,...,115.5,63,94.50,90.00,196,24,140,46.4,136.8,8944.14
19,2019-04-20,72,54,44.25,61.35,15,84,59.25,225,157.5,...,98.0,99,135.00,105.00,56,48,70,48.8,133.5,8132.81
20,2019-04-21,18,90,29.50,20.45,60,84,79.00,180,112.5,...,63.0,48,54.00,112.50,275,83,88,41.6,188.1,8360.96
21,2019-04-22,54,36,44.25,40.90,15,42,19.75,90,45.0,...,66.5,51,90.00,71.25,56,24,14,12.8,140.7,8211.76
22,2019-04-23,36,54,14.75,0.00,45,21,59.25,135,0.0,...,59.5,54,81.00,105.00,28,0,28,20.0,130.8,8217.49
23,2019-04-24,36,36,29.50,40.90,15,42,59.25,0,67.5,...,73.5,75,103.50,112.50,84,0,28,18.4,148.5,8819.70
24,2019-04-25,36,54,14.75,40.90,15,63,59.25,45,45.0,...,56.0,54,94.50,90.00,84,0,14,16.8,142.5,8340.85
25,2019-04-26,36,54,29.50,40.90,45,21,59.25,45,22.5,...,59.5,72,126.00,90.00,84,0,56,19.2,137.4,8396.43
26,2019-04-27,18,18,29.50,0.00,15,42,19.75,90,0.0,...,84.0,57,63.00,41.25,112,36,14,31.2,169.2,8744.08
27,2019-04-28,0,0,0.00,0.00,0,0,0.00,0,0.0,...,84.0,51,108.00,90.00,0,0,0,0.0,144.3,6748.15
28,2019-04-29,0,0,0.00,0.00,0,0,0.00,0,0.0,...,70.0,84,126.00,90.00,0,0,0,0.0,109.8,6442.40

### Model training

In [36]:


# Load the data
data = pivot_sales

# Define the number of shift days for creating lag features
shift_days = 14

# Prepare the dataset for modeling
def prepare_dataset(data, target_column):
    for i in range(1, shift_days + 1):
        data[f'{target_column}_shifted_{i}'] = data[target_column].shift(i)
    data.dropna(inplace=True)
    return data

# Train and evaluate SVR models for each product ID
r2_scores_train = {}
r2_scores_test = {}

for product_id in range(1, 79):
    product_column = f'productid_{product_id}'

    if product_column in data.columns:
        # Prepare the dataset
        product_data = prepare_dataset(data.copy(), product_column)

        # Split the data
        X = product_data[[f'{product_column}_shifted_{i}' for i in range(1, shift_days + 1)]]
        y = product_data[product_column]
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

        # Train the model
        svr_model = SVR()
        svr_model.fit(X_train, y_train)

        # Predict and calculate R^2 score
        y_train_pred = svr_model.predict(X_train)
        r2_train = r2_score(y_train, y_train_pred)

        y_test_pred = svr_model.predict(X_test)
        r2_test = r2_score(y_test, y_test_pred)

        # Store the R^2 scores
        r2_scores_train[product_id] = r2_train
        r2_scores_test[product_id] = r2_test

        # Save the model
        joblib.dump(svr_model, f'svr_model_productid_{product_id}.joblib')

# Print R^2 scores for train and test data
print("Training Data R^2 Scores:", r2_scores_train)
print("Test Data R^2 Scores:", r2_scores_test)

Training Data R^2 Scores: {1: 0.06963843214055143, 2: 0.04151262674779088, 3: 0.07173199223457749, 4: 0.033086750497509754, 5: -0.26151189092496674, 6: 0.02308240395222716, 7: -0.04313978560142151, 8: -0.06889019069162639, 9: 0.0037650362507578583, 10: 0.05066019540001021, 11: -0.08799740256821664, 12: 0.025331868023616755, 13: 0.08422466013349994, 14: 0.07849674185170818, 15: 0.06410805211618698, 16: 0.10953401536659413, 17: 0.08564103595569883, 18: 0.06418904237536804, 19: 0.14713120704897098, 20: 0.15323304600766574, 21: 0.05370957020909528, 22: 0.09073656927248885, 23: 0.02419281728227174, 24: -0.016293849011776107, 25: -0.1317889578712912, 26: 0.04836012218123953, 27: 0.030039732344083414, 28: -0.23338961622111887, 29: -0.0003577333416384665, 30: -0.18849466505454315, 31: 0.034400078390681155, 32: -0.006550495227611197, 33: 0.013478648508276625, 34: -0.0048404776227257695, 35: 0.037964990280550226, 36: 0.023106296654815894, 37: 0.03636301159224542, 38: 0.015083036240851722, 39: 0.018211970792777366, 40: -0.014318113658778442, 41: 0.023022660291625807, 42: -0.005466208328434918, 43: -0.05875853646863316, 44: 0.009971847736271355, 45: -0.027492615922871444, 46: -0.10722987423208852, 47: 0.0625003739191009, 48: 0.056965235507655976, 49: 0.03083973767977166, 50: 0.0288570875288795, 51: 0.027243385343358018, 52: -0.014028956508183477, 53: 0.04779857550900346, 54: 0.04197099620374034, 55: 0.04183434060702318, 56: 0.01703652530374611, 57: 0.007628178111203532, 58: 0.023405230998366555, 59: 0.04107950960857343, 60: 0.01914018965249553, 61: -0.07924864567706003, 63: 0.09890098784965695, 64: 0.09405064152943632, 65: 0.19006126543762702, 69: 0.07201107404090024, 70: 0.08347117661646519, 71: 0.01614407704904597, 72: -0.13727350906704494, 73: 0.0867823727670427, 74: 0.05497715868770514, 75: 0.15462311065522083, 76: 0.052611870146005435, 77: -0.23443980528496988, 78: 0.05747634470977314}
Test Data R^2 Scores: {1: -0.3943271807185711, 2: -1.558635681981439, 3: -0.370131238351042, 4: -1.105009736776338, 5: -0.4290198787763553, 6: 0.009570394299077689, 7: -0.7914279088735046, 8: -0.604484954431173, 9: -0.38075714692207785, 10: -0.015233756483175043, 11: -0.11506985734886688, 12: 0.06374233192889911, 13: -0.10673563511973372, 14: 0.0, 15: -2.329202959800118, 16: -0.18209281503197472, 17: -1.5138869347792117, 18: -0.48084473307279185, 19: -2.4753663489259163, 20: -0.5394181517729986, 21: -0.2528508242708718, 22: -0.6392766138975274, 23: 0.0160358846207872, 24: -0.6617265701403927, 25: -0.3023124349158173, 26: -0.10148757223304439, 27: -2.5544152253753185, 28: -2.495693900900382, 29: -3.2574086475833886, 30: -0.25974177165592716, 31: -1.14908925428267, 32: -1.1363112637234742, 33: -0.016281870849720326, 34: -0.07522504131827867, 35: -3.2118967064928645, 36: -8.859821196269337, 37: -0.03994625520592243, 38: -0.7586433747600863, 39: -2.7324737612577668, 40: -0.5495667386990539, 41: -0.09723939270012716, 42: -0.47503163080845767, 43: -3.4992127165793, 44: -0.5272099358493949, 45: -0.03459181597794392, 46: -0.735866610351716, 47: -0.025313748433743344, 48: -0.4694202072422835, 49: -3.5355866639148026, 50: -0.8278265424228997, 51: -0.1910231402712499, 52: -0.036219982913773485, 53: -202.54163188529546, 54: -0.08411274223150111, 55: 0.015033360584004063, 56: 0.0061848663841814755, 57: -0.3326676543993008, 58: -0.1661374426034281, 59: -12.58363886616692, 60: -1.3240325881756339, 61: -9.081176264982425, 63: -0.845687804229635, 64: 0.04851968974934817, 65: 0.2523603194281909, 69: -16.3263810429381, 70: -44.66377018577391, 71: -0.03360713098800061, 72: -1.2962093697475257, 73: 0.033715219128765406, 74: -0.7032051838023943, 75: -1.293334579788954, 76: 0.004701512720123313, 77: -8.060298754478424, 78: -0.027385499091194365}

In [37]:


# Define the number of shift days for creating lag features
shift_days = 14

# Prepare the dataset for modeling
def prepare_dataset(data, target_column):
    for i in range(1, shift_days + 1):
        data[f'{target_column}_shifted_{i}'] = data[target_column].shift(i)
    data.dropna(inplace=True)
    return data

# Prepare the dataset for the total sales
total_sales_data = prepare_dataset(data.copy(), 'total_amount_of_the_day')

# Split the data
X = total_sales_data[[f'total_amount_of_the_day_shifted_{i}' for i in range(1, shift_days + 1)]]
y = total_sales_data['total_amount_of_the_day']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

# Train the model
svr_model_total_sales = SVR()
svr_model_total_sales.fit(X_train, y_train)

# Predict and calculate R^2 score
y_train_pred = svr_model_total_sales.predict(X_train)
r2_train = r2_score(y_train, y_train_pred)

y_test_pred = svr_model_total_sales.predict(X_test)
r2_test = r2_score(y_test, y_test_pred)

# Save the model
joblib.dump(svr_model_total_sales, 'svr_model_total_sales.joblib')

# Print R^2 scores for train and test data
r2_train, r2_test

(-0.0032771265292046436, -1.363246486126339)

In [35]:
# Prepare the data and train a linear regression model
def train_linear_regression(data, column_name):
    # Convert 'DATE' to datetime and extract the year and month as separate columns
    data['DATE'] = pd.to_datetime(data['DATE'])
    data['Year'] = data['DATE'].dt.year
    data['Month'] = data['DATE'].dt.month

    # Prepare the features (X) and target (y)
    X = data[['Year', 'Month']]
    y = data[column_name]

    # Create and train the linear regression model
    model = LinearRegression()
    model.fit(X, y)

    return model

# Load the coffee and tea price data
coffee_price_data = pd.read_csv('coffee_price.csv')
tea_price_data = pd.read_csv('tea_price.csv')

# Train the models for coffee and tea
coffee_model = train_linear_regression(coffee_price_data, 'PCOFFOTMUSDM')
tea_model = train_linear_regression(tea_price_data, 'PTEAUSDM')

# Save the models
joblib.dump(coffee_model, 'coffee_model.joblib')
joblib.dump(tea_model, 'tea_model.joblib')

# Prepare the data for May 2019 prediction
predict_date = pd.DataFrame({'Year': [2019], 'Month': [5]})

# Make predictions for May 2019
predicted_coffee_price = coffee_model.predict(predict_date)
predicted_tea_price = tea_model.predict(predict_date)

print("Predicted Coffee Price for May 2019:", predicted_coffee_price[0])
print("Predicted Tea Price for May 2019:", predicted_tea_price[0])

Predicted Coffee Price for May 2019: 173.57628582026246
Predicted Tea Price for May 2019: 323.19653232269775